.container {
  background-image: url("../public/imgFundo.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Georgia, "Times New Roman", Times, serif;
}
.container-main {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header {
  background-color: #1f1f1f;
  opacity: 80%;

  height: 100px;
  width: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: white;
  font-size: 30px;
}
.container-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border: 2px solid black;
  border-radius: 1em;
  background-color: #8a8a8a;
  opacity: 95%;

  height: 500px;
  width: auto;
}
.title-content {
  color: #1f1f1f;
}
.content {
  text-align: center;

  color: #1f1f1f;
}

.btn-content {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;

  color: white;
  border: 2px solid black;
  border-radius: 1em;
  background-color: #1f1f1f;
  height: 35px;
  width: 30%;
}

.invisible {
  display: none;
  width: 40%;
}

.forms {
  font-size: 20px;
  color: #1f1f1f;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: #8a8a8a;
  opacity: 95%;
  border: 2px solid black;
  border-radius: 1em;

  width: 400px;
  min-height: 350px;
}

.message {
  display: flex;
  align-items: center;
}

.input-message {
  width: 100%;
  text-align: center;
  border: 1px solid black;
}
.selection {
  display: flex;
  flex-direction: column;
}
.option {
  display: flex;
  justify-content: space-around;
  width: 60%;

  font-size: 15px;
}
.option-cod {
  display: flex;
  align-items: center;
}
.option-decod {
  display: flex;
  align-items: center;
}
.increment-invisible {
  display: none;
}
.btn-cod-decod {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-cod-decod button {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;

  color: white;
  border: 2px solid black;
  border-radius: 1em;
  background-color: #1f1f1f;

  height: 35px;
  width: 70%;
}
.cod-invisible {
  display: none;
}

.decod-invisible {
  display: none;
}
.result {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
}
.result-infos {
  width: 100%;
  border: 1px solid black;
}
.footer {
  margin-top: 30px;
  background-color: #1f1f1f;
  opacity: 80%;
  height: 70px;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.info-footer {
  color: white;
}
